appdirs==1.4.4
bottle==0.13.2
bottle-websocket==0.2.9
cffi==1.17.1
contourpy==1.2.0
cycler==0.12.1
Eel==0.18.1
fonttools==4.47.0
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
joblib==1.4.2
kiwisolver==1.4.5
lxml==5.3.1
matplotlib==3.8.2
networkx==3.3
numpy==1.26.2
packaging==23.2
pandas==2.1.4
Pillow==10.1.0
pyasn1==0.6.1
pycparser==2.22
pyparsing==3.1.1
pyshark==0.6
PySimpleGUI==5.0.8
python-dateutil==2.8.2
python-nmap==0.7.1
pytz==2023.3.post1
reportlab==4.0.9
rsa==4.9
scapy==2.6.1
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==75.8.0
six==1.16.0
termcolor==2.5.0
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2023.3
yara==1.7.7
yara-python==4.5.1
zope.event==5.0
zope.interface==7.2
